<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RH</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
  <header>
    <center>
        <img src="./img/logoem.png" alt="" style="height: 150px;width: 150px;">
        <h1>Sistemas Microinformatica</h1>
        <h4><b>R</b>ecursos <b>H</b>umanos</h4>
        <hr style="border: solid wheat 2px;">
    </center>
</header>  
</body>
</html>