
<nav style="background-color: rgb(0, 0, 0); height: 800 px; width: 800px;">
  
      <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link" style="text-decoration: none; color: aliceblue; ">Acerca de la empresa</a>
      </li>
      <li class="nav-item">
        <a href="../contrato" class="nav-link" style="text-decoration: none; color: aliceblue;">Ingreso de personal</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" style="text-decoration: none; color: aliceblue;">Contacto</a>
      </li>
</nav>
<br>