<center>

    <footer style="background-color:bisque; height: 800 px; width: 800px;">
      
        <p>Compañia de Luz @Derechos reservados : Margarita Trejo Tirado | 07-Marzo-2023 |</p>
    
      </footer> 
</center>