<!DOCTYPE html>
<html lang="en">

<body>

    <center>
        <div style="background-color:bisque; height: 800 px; width: 800px;">
            <%-include('partials/encabezado.html');%>
                <%-include('partials/menuNavegacion.html');%>
                
                    <div class="contenedor" style="height: 800 px; width: 800px; background-color:cornflowerblue;">
<br>

                        <div class="">

                            <form action="/registros" method="post">

                                <label for="">Numero de contrato : </label>
                                <input type="numer" name="numContrato" id="=numContrato" required="true">
                                <br>
                                <label for="">Nombre :</label>
                                <input type="text" name="nombre" id="nombre" required="true">
                                <br>
                                <label for="">Domicilio :</label>
                                <input type="text" name="domicilio" id="domicilio" required="true">
                                <br>
                                <label for="">Nivel de estudios : </label>
                                <select name="nivel" id="nivel">
                                    <option value="1">Licenciado</option>
                                    <option value="2">Maestria</option>
                                    <option value="3">Doctorado</option>
                                </select>
                                <br />
                                <label for="pago">Pago diario base : </label>
                                <input type="number" name="pagoDiario" id="pagoDiario">
                                <br>
                                <label for="dias">Dias trabajados : </label>
                                <input type="number" name="dias" id="dias">
                                <br></div>
                        <br>        
                    </div> 
                    <br>           
<button type="submit" class="btn btn-primary" style="color: aliceblue;">ENVIAR</button>
                                <button class="btn btn-primary">LIMPIAR</button>

    </center>


    <% let pImpuesto=0; let pTotal=0; pSubtotal=0; if(nivel==1){ pSubtotal=(Number(pagoDiario) * Number(dias)) * 1.20; }
        if(nivel==2){ pSubtotal=(Number(pagoDiario) * Number(dias)) * 1.50; } if(nivel==3){
        pSubtotal=(Number(pagoDiario) * Number(dias)) * 2; } pImpuesto=pSubtotal * 0.16; pTotal=pSubtotal - pImpuesto;
        %>






        
            
            <%-include('partials/pie.html');%>
            </form>
            
            </div>

</body>

</html>