<!DOCTYPE html>
<html lang="en">

    <body >
        <center>
            <div class="contenedor" style="height: 800 px; width: 800px; background-color:bisque">
                
    <%-include('partials/encabezado.html');%>
    <%-include('partials/menuNavegacion.html');%>
<%
            let pImpuesto=0;
            let pTotal=0; 
            pSubtotal= 0;

            if(nivel==1){
            pSubtotal=(Number(pagoDiario) * Number(dias)) * 1.20;

            } 
            if(nivel==2){
                pSubtotal=(Number(pagoDiario) * Number(dias)) * 1.50;

            } 
            if(nivel==3){
                pSubtotal=(Number(pagoDiario) * Number(dias)) * 2;
            } 
            pImpuesto = pSubtotal * 0.16;
            pTotal = pSubtotal - pImpuesto;
            %>

<div style="width: 800px; background-color:cornflowerblue;">
    <br>
    <table>
        <th style="padding-inline: 50px;">Nombre</th>
        <th  style="padding-inline: 50px;">Grado:</th>
        <th  style="padding-inline: 50px;">Dias trabajados</th>
        <th  style="padding-inline: 50px;">Pago por dia:</th>

        <tr>
            <td style="padding-inline: 50px;">
                <%=nombre%>
            </td>
            <td style="padding-inline: 50px;">
    <% if(nivel==1){%>
        <label for="">Licenciatura</label>
        <% }else if(nivel==2){%>
            <label for="">Maestria</label>
            <%} else if(nivel==3){%>
                <label for="">Doctorado</label>
            <%}%>
            </td>
            <td style="padding-inline: 50px;">
                <%=dias%>
            </td>
            <td style="padding-inline: 50px;">
                <%=pagoDiario%>
            </td>

        </tr>
    </table>

                    <br>
                    <label for="">SubTotal: </label>
                    <%=pSubtotal%>
                    <br>
                    <label for="">Impuestos %16: </label>
                    <%=pImpuesto%>
                    <br>
                    <label for="sub">Total a pagar: </label>
                    <label for="" style="color: aliceblue;"><b><%=pTotal%></b></label>
                    <br>
                <br></div>
                <br>
                <button type="submit" class="btn btn-primary">ENVIAR</button>
                    <button class="btn btn-primary">LIMPIAR</button>
            

        <%-include('partials/pie.html');%></div>
        </center>
</div>
</body>

</html>